container_commands:
  01_clean_tmp:
    command: "rm -rf /tmp/* /var/tmp/*"
    ignoreErrors: true
  02_create_temp_dir:
    command: "mkdir -p /var/app/staging/tmp"
  03_set_pip_temp:
    command: "export TMPDIR=/var/app/staging/tmp"
  04_upgrade_pip:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --no-cache-dir --upgrade pip"
  05_install_requirements:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --no-cache-dir -r requirements.txt"
    cwd: "/var/app/staging"
  06_cleanup:
    command: "rm -rf /var/app/staging/tmp"
    ignoreErrors: true
